body {
    padding: 10px;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: red;
}

.darkModeBtn {
    display: flex;
    border-style: initial;
    width: 120px;
}

.picContainer {
    display: flex;
    padding: 10px;
    border-left: 2px solid;
    width: 100%;
}

.bild {
    display: flex;
    height: 790px;
    width: auto;
    padding: 10px;
}

.navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    justify-content: center;
}

.mainContainer {
    display: flex;
    margin-left: auto;
    flex-grow: 1;
}

a {
    padding: 20px;
    margin-left: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

h2 {
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
    justify-content: center;

}

footer {
    display: flex;
    justify-content: flex-end;
}

p {
    font-size: 1.5rem;
    width: 20%;
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
}

#munkPic {
    width: 28%;
    height: auto;
}

ul {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: center;
    width: 400px;
}

div #column .bild {
    height: 20vh;
    width:fit-content;
}

#listColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#background {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
}







